In [5]:
import pandas as pd

In [6]:
jobs = pd.read_csv('jobs.csv')

In [7]:
jobs[['Id', 'Skills']]

        Id                                             Skills
0        1  ['Educational Technology', 'eLearning Consulti...
1        2             ['Web Development', 'App Development']
2        3  ['JavaScript', 'Web Graphics', 'Prototyping', ...
3        4                                  ['PHP', 'Vue.js']
4        5  ['PHP', 'WordPress', 'Analytics', 'Design Proc...
...    ...                                                ...
2681  2682  ['Brochure Design', 'Business Card Design', 'C...
2682  2683  english, writing, translation, copy editing, p...
2683  2684            python, machine learning, data sscience
2684  2685  content, writing, translation, editing, proof ...
2685  2686  facebook, twitter, marketing, sales, customer ...

[2686 rows x 2 columns]

In [9]:
jobs.loc[jobs['Id'] == 2681]['Skills'].values[0]

"['Bioinformatics']"

In [3]:
jobs.head()

NameError: name 'jobs' is not defined

In [29]:
jobs.index.values

array([   0,    1,    2, ..., 2679, 2680, 2681])

In [30]:
jobs['newId'] = (jobs.index.values+1)

In [31]:
jobs.head()

,Unnamed: 0,Id,Created_date,Due_date,User_id,Payment_type,Budget,Job_title,Category,Subcategory,...,Employer_id,No_of_quotes,Link_of_quoters,No_of_Premium_quotes,Link_of_premium_quoters,No_of_inviited,Link_of_invited_freelancers,No_of_Hired,Link_of_hired_freelancers,newId
0,0,1,"December 04, 2020","January 02, 2021",1,Fixed Price,[ $5k-$10k],"Looking for ""NetSuite"" Part-Time Trainer",Education & Training,Information Technology,...,1737898,0,[],0,[],14,[https://www.guru.com/freelancers/netsuite-fre...,0,[],1
1,1,2,"December 04, 2020","December 11, 2020",2,Fixed Price,[ Under $250],developing app for language translator,Programming & Development,Web Development & Design,...,1737897,0,[],0,[],0,[],0,[],2
2,2,3,"December 04, 2020","January 02, 2021",3,Fixed Price or Hourly,[],React Js Developers Needed,Programming & Development,Web Development & Design,...,1737894,20,[https://www.guru.com/freelancers/yao-tingchen...,1,[https://www.guru.com/freelancers/yao-tingchen],0,[],0,[],3
3,3,4,"December 04, 2020","January 02, 2021",4,Fixed Price,[ Under $250],I have minimal issues with my website,Programming & Development,Web Development & Design,...,1737895,13,[https://www.guru.com/freelancers/amazon-softw...,0,[],3,[https://www.guru.com/freelancers/ahmed-s-helm...,0,[],4
4,4,5,"December 04, 2020","January 02, 2021",5,Fixed Price,[ $500-$1k],Wordpress Site Customization,Programming & Development,Web Development & Design,...,1737892,13,[https://www.guru.com/freelancers/amazon-softw...,0,[],0,[],0,[],5

In [32]:
jobs = jobs.drop(2).copy().reset_index()

In [34]:
jobs['Id'] = (jobs.index.values+1)

In [35]:
jobs.head()

,index,Unnamed: 0,Id,Created_date,Due_date,User_id,Payment_type,Budget,Job_title,Category,...,Employer_id,No_of_quotes,Link_of_quoters,No_of_Premium_quotes,Link_of_premium_quoters,No_of_inviited,Link_of_invited_freelancers,No_of_Hired,Link_of_hired_freelancers,newId
0,0,0,1,"December 04, 2020","January 02, 2021",1,Fixed Price,[ $5k-$10k],"Looking for ""NetSuite"" Part-Time Trainer",Education & Training,...,1737898,0,[],0,[],14,[https://www.guru.com/freelancers/netsuite-fre...,0,[],1
1,1,1,2,"December 04, 2020","December 11, 2020",2,Fixed Price,[ Under $250],developing app for language translator,Programming & Development,...,1737897,0,[],0,[],0,[],0,[],2
2,3,3,3,"December 04, 2020","January 02, 2021",4,Fixed Price,[ Under $250],I have minimal issues with my website,Programming & Development,...,1737895,13,[https://www.guru.com/freelancers/amazon-softw...,0,[],3,[https://www.guru.com/freelancers/ahmed-s-helm...,0,[],4
3,4,4,4,"December 04, 2020","January 02, 2021",5,Fixed Price,[ $500-$1k],Wordpress Site Customization,Programming & Development,...,1737892,13,[https://www.guru.com/freelancers/amazon-softw...,0,[],0,[],0,[],5
4,5,5,5,"December 04, 2020","January 02, 2021",5,Fixed Price,[ $250-$500],Website Database Testing & Report Bugs,Programming & Development,...,1737891,6,[https://www.guru.com/freelancers/amazon-softw...,0,[],0,[],0,[],6

In [66]:
jobs.Payment_type.dtypes

dtype('O')

In [6]:
test = pd.DataFrame(columns = jobs.columns)

In [7]:
test

Empty DataFrame
Columns: [Unnamed: 0, Id, Created_date, Due_date, User_id, Payment_type, Budget, Job_title, Category, Subcategory, Job_description, Name_of_employer, Skills, Link_of_employer, Employer_id, No_of_quotes, Link_of_quoters, No_of_Premium_quotes, Link_of_premium_quoters, No_of_inviited, Link_of_invited_freelancers, No_of_Hired, Link_of_hired_freelancers]
Index: []

[0 rows x 23 columns]

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('sqlite:////site.db', convert_unicode=True)

In [59]:
jobs.Created_date.value_counts()

December 04, 2020    158
Dec 01, 2020         146
Nov 11, 2020         114
Nov 17, 2020         109
Dec 02, 2020          96
                    ...
Jan 07, 2020           1
Aug 06, 2020           1
Nov 21, 2017           1
Sep 05, 2020           1
May 06, 2018           1
Name: Created_date, Length: 169, dtype: int64

In [29]:
new_cols = list(jobs.drop(['Unnamed: 0', 'Due_date', 'Name_of_employer', 'Link_of_employer', 'Employer_id', 'No_of_quotes', 'No_of_Premium_quotes', 'Link_of_premium_quoters', 'No_of_inviited', 'No_of_Hired'], axis=1).columns) + ['Min_budget', 'Job_cluster_id']

In [30]:
test = pd.DataFrame(columns = new_cols)

In [31]:
test

Empty DataFrame
Columns: [Id, Created_date, User_id, Payment_type, Budget, Job_title, Category, Subcategory, Job_description, Skills, Link_of_quoters, Link_of_invited_freelancers, Link_of_hired_freelancers, Min_budget, Job_cluster_id]
Index: []

In [28]:
list(new_cols)

['Id',
 'Created_date',
 'User_id',
 'Payment_type',
 'Budget',
 'Job_title',
 'Category',
 'Subcategory',
 'Job_description',
 'Skills',
 'Link_of_quoters',
 'Link_of_invited_freelancers',
 'Link_of_hired_freelancers']

In [45]:
test

Empty DataFrame
Columns: [Id, Created_date, User_id, Payment_type, Budget, Job_title, Category, Subcategory, Job_description, Skills, Link_of_quoters, Link_of_invited_freelancers, Link_of_hired_freelancers, Min_budget, Job_cluster_id]
Index: []

In [53]:
row = [1, '', 5, '', 'abc', 'pd', 'abc', 'abc', 'python', '', '', '', '', 0]

In [51]:
df.append({'Id':1, 'Created_date':'January 2, 2021', 'User_id':5, 'Payment_type':, 'Budget':, 'Job_title':, 'Category':, 'Subcategory':, 'Job_description':, Skill'Skills':, 'Link_of_quoters':, 'Link_of_invited_freelancers':, 'Link_of_hired_freelancers':, 'Min_budget':, 'Job_cluster_id':}, ignore_index=True)

,Id,Created_date,User_id,Payment_type,Budget,Job_title,Category,Subcategory,Job_description,Skills,...,4,5,6,7,8,9,10,11,12,13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,abc,pd,abc,abc,python,,,,,0.0

In [55]:
test.columns

Index(['Id', 'Created_date', 'User_id', 'Payment_type', 'Budget', 'Job_title',
       'Category', 'Subcategory', 'Job_description', 'Skills',
       'Link_of_quoters', 'Link_of_invited_freelancers',
       'Link_of_hired_freelancers', 'Min_budget', 'Job_cluster_id'],
      dtype='object')

In [54]:
df.append({'Id':1, 'Created_date':'', 'User_id':5, 'Payment_type':, 'Budget':, 'Job_title':, 'Category':, 'Subcategory':, 'Job_description':, Skill'Skills':, 'Link_of_quoters':, 'Link_of_invited_freelancers':, 'Link_of_hired_freelancers':, 'Min_budget':, 'Job_cluster_id':}, ignore_index=True)

ValueError: cannot set a row with mismatched columns

In [68]:
df.append({'Id':1, 'Created_date':2, 'User_id':, 'Payment_type':, 'Budget':, 'Job_title':, 'Category':, 'Subcategory':, 'Job_description':, Skill'Skills':, 'Link_of_quoters':, 'Link_of_invited_freelancers':, 'Link_of_hired_freelancers':, 'Min_budget':, 'Job_cluster_id':}, ignore_index=True)

SyntaxError: invalid syntax (<ipython-input-68-7af551ec71ec>, line 1)

In [69]:
profiles = pd.read_csv('profiles.csv', converters={'Hourly Rate':eval, 'Starting Rate':eval, 'Skills':eval})

In [70]:
profiles.columns

Index(['Id', 'Freelancer_Link', 'Freelancer Name', 'User Id',
       'Total_Feedback_Received', 'Hourly Rate', 'Starting Rate',
       'Freelancer Type', 'Member', 'Rating', 'Location', 'Annual Earnings',
       'All-Time Earnings', 'Transactions Completed', 'Employers',
       'Largest Employer', 'Member Since', 'Skills'],
      dtype='object')

In [72]:
new_columns = list(profiles.drop(['Freelancer Name', 'Freelancer Type', 'Member', 'Employers', 'Largest Employer'], axis=1).columns) + ['Average Earnings']

In [73]:
df = pd.DataFrame(columns=new_columns)

In [74]:
df

Empty DataFrame
Columns: [Id, Freelancer_Link, User Id, Total_Feedback_Received, Hourly Rate, Starting Rate, Rating, Location, Annual Earnings, All-Time Earnings, Transactions Completed, Member Since, Skills, Average Earnings]
Index: []

In [75]:
df.columns

Index(['Id', 'Freelancer_Link', 'User Id', 'Total_Feedback_Received',
       'Hourly Rate', 'Starting Rate', 'Rating', 'Location', 'Annual Earnings',
       'All-Time Earnings', 'Transactions Completed', 'Member Since', 'Skills',
       'Average Earnings'],
      dtype='object')

In [76]:
df.append({'Id':, 'Freelancer_Link':, 'User_id':, 'Total_Feedback_Received':, 'Hourly Rate':, 'Starting Rate':, 'Rating':, 'Location':, 'Annual Earnings':, 'All-Time Earnings':, 'Transactions Completed':, 'Member Since':, 'Skills':, 'Average Earnings':, 'Profile Cluster Id':}, ignore_index=True)

SyntaxError: invalid syntax (<ipython-input-76-b37f8870145c>, line 1)